body {
    margin: 0;
    background-color: papayawhip;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}

h1 {
    text-decoration: underline;
}

p {
    font-family: arial;
    color: red;
    
}





